---
description: Vanta Current Test Result
---
vanta_current_test_result
-------------------------

| **Name**           | **Type**     | **Nullable** |
| ------------------ | ------------ | ------------ |
| category           | String       | &check;      |
| description        | String       | &check;      |
| failMessage        | String       | &check;      |
| failureDescription | String       | &check;      |
| latestFlip         | String       | &check;      |
| name               | String       | &check;      |
| outcome            | String       | &check;      |
| remediation        | String       | &check;      |
| services           | List<String> | &check;      |
| testId             | String       | &cross;      |
| timestamp          | String       | &check;      |
